* {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
}

.rtr > img{
    width: 60px;
    height: 60px;
}

.rtr {
    display: flex;
    justify-content: space-evenly;
}

.trt > img {
    width: 1000px;
    align-items: center;
}